.panel-body{
  background-color: #7fc232;
  font-family: 'MyWebFont';
  color: white;
  border-radius: 10px;
  padding-left: 5px 0;
  font-size: 20px;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Odin Rounded.otf');

}

.form-control{
  border-radius: 10px;
}

.btn-default{
  color: #7fc232;
  font-
}

.panel-success{
  border-radius: 10px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo{
  width: 150px;
}
