html, body, div {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-margin {
  padding: 0; !important;
}

.container-fluid .row div {
  height: 100%;
}


/*************************** LEFT SIDE ***************************/
.container-fluid .row div div {
  height: 50%;
}

.container-fluid .row div div div {
  height: 100%;
}

.container-fluid .row div div div div {
  height: 50%;
}

/* For date and time. Add background color to see */
.container-fluid .row div div div div div{ 
  height: 100%;
}

/* FIRST ROW */
#video-section {
  background-color: gray;
  height: 100%;
}

#date-section {
  background-color: #e20018;
  height: 100%;
}

#time-section {
  background-color: #7ac601;
  height: 100%;
}

/* SECOND ROW */
#idea-section {
  background-color: #00a7ee;
  height: 100%;
}

#banner-section {
  background-color: #594c3e;
  height: 100%;
}

#events-section {
  background-color: #f7e401;
  height: 100%;
}

#schedule-section {
  background-color: #895d33;
  height: 100%;
}



/*************************** RIGHT SIDE ***************************/
#questions-section {
  background-color: #f5f5f5;
  height: 100%;
}


